html{
    position:relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

p {
    margin: 0;
    padding: 0;
}

.avatar {
    width: 150px !important;
    height: 150px !important;
}

.headerContainer {
    padding: 20px 0;
}

.marginContainer {
    margin: auto !important;
    width: 100% !important;
}

.perfectTodo {
    border-radius: 15px;
    margin: 10px 20px !important;
    background: aliceblue;
    box-shadow: 0 3px 7px 0 grey;
}

.line {
    text-decoration: line-through;
}

.defaultText {
    text-decoration: none;
}

.todo-list {
    min-width: 545px !important;
    max-width: 545px !important;
}

/* Footer styles */

.footer-container {
    background-color: #3f51b5;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
}

.footer-container > ul {
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    margin: 22px auto 0 auto;
}

.footer-container > ul li {
    padding-inline-start: 0;
    list-style: none;
    border: 1px solid black;
    padding: 7px 100px;
    font-size: 20px;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
}

.footer-container > ul li:hover {
    box-shadow: 5px 5px 14px black;
}

.footer-container > ul li a {
    text-decoration: none;
    color: white;
}

.footer-container > ul li a:hover {
    text-decoration: underline;
}

/* AboutMe styles */

.about-me-container {
    width: 545px;
    background-color: white;
    margin: 0 auto;
    height: calc(100vh - 270px);
    border-radius: 10px;
    box-shadow: 0 0 5px grey;
}

.about-me-container .user-icon {
    width: 150px;
    height: 150px;
}

.about-me-container > div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 5px;
    margin-bottom: 25px;
}

.about-me-container p {
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    margin: 25px 0;
}

.about-me-container p > span {
    font-weight: bold;
}

.about-me-container > h2 {
    margin: 10px 10px;
}

.about-me-container .information-container {
    margin: 10px 10px;
    padding: 7px 20px 7px 20px;
    background-color: whitesmoke;
    height: 40%;
    border-radius: 10px;
    box-shadow: 0 0 5px grey;
    text-transform: none;
    text-indent: 16px;
}